<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis facilis, praesentium aliquid itaque sed
      sapiente nihil architecto sint dicta.
    </p>
  </div>
</section>