<div class="jumbotron mt-4">
  <h1 class="display-4">Keep Your Notes Safe</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. A et blanditiis accusantium beatae sapiente
    incidunt, expedita sequi eaque ullam quidem?
  </p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, officia.</p>
  <a href="https://www.javiertarulla.com" class="btn btn-primary" target="_blank">Created By...</a>
</div>